@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
	font: 15px/1.5 'Exo', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

body #mySidebar {
	font-family: 'Exo', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

h2, h3, h4 {
	font-family: 'Exo', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}
/* Header */
header {
	background: #353637;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #F29E20 3px solid;
	font-family: 'Exo', sans-serif;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #F29E20;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}
/* Showcase */
#showcase {
	min-height: 400px;
	background:
		url("../img/background.jpg")
		no-repeat center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
	border-bottom: #F29E20 3px solid;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	font-family: 'Exo', sans-serif;
}

#showcase p {
	font-size: 20px;
}
/* Newsletter */
#newsletter {
	padding: 15px;
	color: #ffffff;
	background: #353637;
}

#newsletter h1 {
	float: left;
	font-family: 'Exo', sans-serif;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
	font-family: 'Exo', sans-serif;
}

.button_1 {
	height: 38px;
	background: #cccccc;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #353637;
	font-family: 'Exo', sans-serif;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #F29E20;
	text-align: center;
	float: bottom;
	font-family: 'Exo', sans-serif;
}

@media ( max-width : 768px) {
	header #branding, header nav, header nav li, #newsletter h1, #newsletter form,
		#boxes .box {
		float: none;
		text-align: center;
		width: 100%; article #main-col, aside#sidebar { float : none;
		text-align: center;
		width: 100%;
	}
}

header {
	padding-bottom: 20px;
}

#showcase h1 {
	margin-top: 40px;
}

#newsletter button {
	display: block;
	width: 100%;
}

#newsletter form input[type="email"] {
	width: 100%;
	margin-bottom: 5px;
}

}
/* Sidebar */
aside#sidebar {
	float: right;
	width: 30%;
	padding: 5px;
}

aside#sidebar .contact input, aside#sidebar .contact textarea {
	width: 90%;
	padding: 5px;
}

article#main-col {
	float: left;
	width: 65%;
}



/* Login */
/* #login form {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-family: 'Exo', sans-serif;
} */

#login form input[type="text"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#login form input[type="password"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#login form input[type=submit] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #f4f4f4;
	cursor: pointer;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
/* Register */
/* #register form {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-family: 'Exo', sans-serif;
} */

#register form input[type="text"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#register form input[type="password"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#register form input[type="number"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#register form input[type=submit] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #f4f4f4;
	cursor: pointer;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
/* Transfer */
/* #transfer form {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-family: 'Exo', sans-serif;
} */

#transfer form input[type="text"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#transfer form input[type="number"] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#transfer form input[type=submit] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #f4f4f4;
	cursor: pointer;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
/* Bills */
/* #bills form {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 350px;
	padding: 10px;
	font-family: 'Exo', sans-serif;
} */

#bills form input[type="number"], select {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#bills form input[type=submit] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #f4f4f4;
	cursor: pointer;
	border-radius: 2px;
	color: #F29E20;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
